#Loading Library

In [54]:
# pandas
import pandas as pd

# numpy
import numpy as np

# defaultcit
from collections import defaultdict

# plot with folium
import folium
from IPython.core.display import HTML

# parsing time
from datetime import datetime, timedelta

# plotting with matplotlib
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

# plotting with pylab
import pylab as P

# Clustering
from sklearn.cluster import MiniBatchKMeans, KMeans
import time
import json

# change prediction categories into labels
from sklearn import preprocessing
from sklearn import cross_validation 
from sklearn import svm
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier

import seaborn as sns
import re

from sklearn.naive_bayes import BernoulliNB
from sklearn.cross_validation import train_test_split
from sklearn.metrics import log_loss

###Loading Training/Testing Data

In [371]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")
# train_df = train_df.sample(n = 500000, random_state = 666)

In [372]:
train_df = pd.DataFrame(train_df)
test_df = pd.DataFrame(test_df)
# train_df = train_df.reset_index(drop=True)
train_df = train_df[['Dates','DayOfWeek','PdDistrict','Address','X','Y','Category']]
train_df.head()

,Dates,DayOfWeek,PdDistrict,Address,X,Y,Category
0,2015-05-13 23:53:00,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,WARRANTS
1,2015-05-13 23:53:00,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,OTHER OFFENSES
2,2015-05-13 23:33:00,Wednesday,NORTHERN,VANNESS AV / GREENWICH ST,-122.424363,37.800414,OTHER OFFENSES
3,2015-05-13 23:30:00,Wednesday,NORTHERN,1500 Block of LOMBARD ST,-122.426995,37.800873,LARCENY/THEFT
4,2015-05-13 23:30:00,Wednesday,PARK,100 Block of BRODERICK ST,-122.438738,37.771541,LARCENY/THEFT

In [373]:
test_df.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [374]:
#Look at the shape
print(train_df.shape)
print(test_df.shape)

(878049, 7)
(884262, 7)

In [375]:
# train_df.columns, train_df.dtypes

In [376]:
# test_df.columns

In [377]:
# #Listing Unique values for columns
# pd.unique(train_df.PdDistrict.ravel()), pd.unique(train_df.DayOfWeek.ravel()), pd.unique(train_df.Category.ravel()),\
# pd.unique(train_df.Resolution .ravel())
# #pd.unique(train_df.hour_of_day.ravel())

In [378]:
# dtDate = datetime.strptime("07-27-2012","%m-%d-%Y")
# datetime.strptime('2015-05-13 23:53:00', "%Y-%m-%d %H:%M:%S")

## Feature Creation

** create feature for training data **

In [379]:
def createFeature(train_df):
    #Getting Month of Year, Day of Month, Hour of Day, and Minute of Hour
    month_of_year = []
    day_of_month =[]
    hour_of_day =[]
    min_of_hour =[]
    for i in range(len(train_df.Dates.values)):
        moy = datetime.strptime(train_df.Dates.values[i], "%Y-%m-%d %H:%M:%S").month
        dom = datetime.strptime(train_df.Dates.values[i], "%Y-%m-%d %H:%M:%S").day
        hod = datetime.strptime(train_df.Dates.values[i], "%Y-%m-%d %H:%M:%S").hour
        moh = datetime.strptime(train_df.Dates.values[i], "%Y-%m-%d %H:%M:%S").minute
        month_of_year.append(moy)
        day_of_month.append(dom)
        hour_of_day.append(hod)
        min_of_hour.append(moh)
    train_df['month_of_year'] = month_of_year #Month of the Year feature added
    train_df['day_of_month'] = day_of_month # Day of Month feature added
    train_df['hour_of_day'] = hour_of_day # Hour of Day feature added
    train_df['min_of_hour'] = min_of_hour # Minute of Hour Feature added
    
    #Creating Weeekday/Weekended Feature
    train_df['WeekdayWeeekend'] = train_df['DayOfWeek'].map( {'Monday': 'Weekday', 'Tuesday': 'Weekday', \
                                                          'Wednesday': 'Weekday', 'Thursday': 'Weekday', 'Friday': 'Weekend',\
                                                         'Saturday': 'Weekend', 'Sunday': 'Weekday'} ).astype(object)
    # Creating Midnight/Morning/Afternoon/Night Column
    train_df['TimeOfDay'] = train_df['hour_of_day'].map({0: 'Midnight', 1: 'Midnight', 2:'Midnight', 3:'Midnight', 4:'Morning', \
                                                     5:'Morning', 6:'Morning', 7:'Morning', 8:'Morning', 9:'Morning', \
                                                     10:'Morning', 11:'Morning', 12:'Afternoon', 13:'Afternoon', 14:'Afternoon', \
                                                     15:'Afternoon', 16:'Afternoon', 17:'Afternoon', 18:'Night', 19:'Night', \
                                                     20:'Night', 21:'Night', 22:'Midnight', 23:'Midnight'}).astype(object)
    # Creating Season Feature
    train_df['Season'] = train_df['month_of_year'].map({1: 'Winter', 2: 'Winter', 3:'Spring', 4:'Spring', 5:'Spring', \
                                                     6:'Spring', 7:'Summer', 8:'Summer', 9:'Summer', 10:'Autumn', \
                                                     11:'Autumn', 12:'Winter'}).astype(object)

    
    
#     train_df['Crime_Type'] = train_df['Category'].map({'FRAUD': 'White', 'FORGERY/COUNTERFEITING': 'White',
#                                                       'BAD CHECKS': 'White', 'EXTORTION': 'White', 'EMBEZZLEMENT': 'White',
#                                                        'SUSPICIOUS OCC': 'White', 'BRIBERY': 'White', 'VANDALISM': 'Blue',
#                                                        'LARCENY/THEFT': 'Blue', 'STOLEN PROPERTY': 'Blue', 'ROBBERY': 'Blue',
#                                                        'DRIVING UNDER THE INFLUENCE': 'Blue', 'DISORDERLY CONDUCT': 'Blue',
#                                                        'LIQUOR LAWS': 'Blue', 'VEHICLE THEFT': 'Blue', 'ASSAULT': 'Blue',
#                                                        'KIDNAPPING': 'Blue', 'TRESPASS': 'Blue', 'ARSON': 'Blue', 
#                                                        'RECOVERED VEHICLE': 'Blue', 'MISSING PERSON': 'Other', 'RUNAWAY': 'Other',
#                                                        'FAMILY OFFENSES': 'Other', 'SEX OFFENSES NON FORCIBLE': 'Other',
#                                                        'PORNOGRAPHY/OBSCENE MAT': 'Other', 'WEAPON LAWS': 'Other',
#                                                        'DRUNKENNESS': 'Other', 'SUICIDE': 'Other', 'TREA': 'Other',
#                                                        'DRUG/NARCOTIC': 'Other', 'SEX OFFENSES FORCIBLE': 'Other', 
#                                                        'LOITERING': 'Other'
#                                                       }).astype(object)
    
    train_df['District_Type'] = train_df['PdDistrict'].map({'PARK': 'Other', 'CENTRAL': 'Other', 'MISSION': 'Corner', 'NORTHERN': 'Corner', 
                                                              'TENDERLOIN': 'Other', 'INGLESIDE': 'Street', 'TARAVAL': 'Street', 
                                                              'SOUTHERN': 'Other', 'BAYVIEW': 'Other', 'RICHMOND': 'Other'}).astype(object)

        
    #Deleting features not needed
#     train_df = train_df.drop('Descript', 1)
#     train_df = train_df.drop('Resolution', 1)
    train_df = train_df.drop('Address', 1)
    
    #Creating Dummy Variables
    WeekdayWeekend_dummies = pd.get_dummies(train_df.WeekdayWeeekend)
    TimeOfDay_dummies = pd.get_dummies(train_df.TimeOfDay)
    season_dummies = pd.get_dummies(train_df.Season)
    district_dummies = pd.get_dummies(train_df.PdDistrict)
    week_dummies = pd.get_dummies(train_df.DayOfWeek)
#     type_dummies = pd.get_dummies(train_df.Crime_Type)
    corner_dummies = pd.get_dummies(train_df.District_Type)
    
    train_df_new = pd.concat([train_df, WeekdayWeekend_dummies, TimeOfDay_dummies, season_dummies, district_dummies, week_dummies, corner_dummies], axis=1, join_axes=[train_df.index])
    print('Sanity Check')
    print(train_df.shape)
    print(WeekdayWeekend_dummies.shape)
    print(TimeOfDay_dummies.shape)
    print(season_dummies.shape)
    print(district_dummies.shape)
    print(week_dummies.shape)
#     print(type_dummies.shape)
    print(corner_dummies.shape)
    print(train_df_new.shape)
    print('Make sure the total adds up to the last number')
    
    le_crime = preprocessing.LabelEncoder()
    crime = le_crime.fit_transform(train_df_new.Category)
    train_df_new['dummy_Category'] = crime

    return train_df_new
#Calling the feature creation function
train_df_new = createFeature(train_df)
train_df_new.head()

Sanity Check
(878049, 14)
(878049, 2)
(878049, 4)
(878049, 4)
(878049, 10)
(878049, 7)
(878049, 3)
(878049, 44)
Make sure the total adds up to the last number

,Dates,DayOfWeek,PdDistrict,X,Y,Category,month_of_year,day_of_month,hour_of_day,min_of_hour,...,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Corner,Other,Street,dummy_Category
0,2015-05-13 23:53:00,Wednesday,NORTHERN,-122.425892,37.774599,WARRANTS,5,13,23,53,...,0,0,0,0,0,1,1,0,0,37
1,2015-05-13 23:53:00,Wednesday,NORTHERN,-122.425892,37.774599,OTHER OFFENSES,5,13,23,53,...,0,0,0,0,0,1,1,0,0,21
2,2015-05-13 23:33:00,Wednesday,NORTHERN,-122.424363,37.800414,OTHER OFFENSES,5,13,23,33,...,0,0,0,0,0,1,1,0,0,21
3,2015-05-13 23:30:00,Wednesday,NORTHERN,-122.426995,37.800873,LARCENY/THEFT,5,13,23,30,...,0,0,0,0,0,1,1,0,0,16
4,2015-05-13 23:30:00,Wednesday,PARK,-122.438738,37.771541,LARCENY/THEFT,5,13,23,30,...,0,0,0,0,0,1,0,1,0,16

** create feature for test data **

*difference is that Cateogry doesn't exist in test data*

In [380]:
def test_createFeature(test_df):
    #Getting Month of Year, Day of Month, Hour of Day, and Minute of Hour
    month_of_year = []
    day_of_month =[]
    hour_of_day =[]
    min_of_hour =[]
    for i in range(len(test_df.Dates.values)):
        moy = datetime.strptime(test_df.Dates.values[i], "%Y-%m-%d %H:%M:%S").month
        dom = datetime.strptime(test_df.Dates.values[i], "%Y-%m-%d %H:%M:%S").day
        hod = datetime.strptime(test_df.Dates.values[i], "%Y-%m-%d %H:%M:%S").hour
        moh = datetime.strptime(test_df.Dates.values[i], "%Y-%m-%d %H:%M:%S").minute
        month_of_year.append(moy)
        day_of_month.append(dom)
        hour_of_day.append(hod)
        min_of_hour.append(moh)
    test_df['month_of_year'] = month_of_year #Month of the Year feature added
    test_df['day_of_month'] = day_of_month # Day of Month feature added
    test_df['hour_of_day'] = hour_of_day # Hour of Day feature added
    test_df['min_of_hour'] = min_of_hour # Minute of Hour Feature added
    
    #Creating Weeekday/Weekended Feature
    test_df['WeekdayWeeekend'] = test_df['DayOfWeek'].map( {'Monday': 'Weekday', 'Tuesday': 'Weekday', \
                                                          'Wednesday': 'Weekend', 'Thursday': 'Weekend', 'Friday': 'Weekend',\
                                                         'Saturday': 'Weekend', 'Sunday': 'Weekday'} ).astype(object)
    # Creating Midnight/Morning/Afternoon/Night Column
    test_df['TimeOfDay'] = test_df['hour_of_day'].map({0: 'Night', 1: 'Midnight', 2:'Midnight', 3:'Midnight', 4:'Midnight', \
                                                     5:'Midnight', 6:'Midnight', 7:'Midnight', 8:'Morning', 9:'Morning', \
                                                     10:'Morning', 11:'Morning', 12:'Afternoon', 13:'Afternoon', 14:'Afternoon', \
                                                     15:'Afternoon', 16:'Afternoon', 17:'Afternoon', 18:'Afternoon', 19:'Afternoon', \
                                                     20:'Night', 21:'Night', 22:'Night', 23:'Night'}).astype(object)
    # Creating Season Feature
    test_df['Season'] = test_df['month_of_year'].map({1: 'Winter', 2: 'Winter', 3:'Spring', 4:'Spring', 5:'Spring', \
                                                     6:'Spring', 7:'Summer', 8:'Summer', 9:'Summer', 10:'Autumn', \
                                                     11:'Autumn', 12:'Winter'}).astype(object)

    
    
#     test_df['Crime_Type'] = test_df['Category'].map({'FRAUD': 'White', 'FORGERY/COUNTERFEITING': 'White',
#                                                       'BAD CHECKS': 'White', 'EXTORTION': 'White', 'EMBEZZLEMENT': 'White',
#                                                        'SUSPICIOUS OCC': 'White', 'BRIBERY': 'White', 'VANDALISM': 'Blue',
#                                                        'LARCENY/THEFT': 'Blue', 'STOLEN PROPERTY': 'Blue', 'ROBBERY': 'Blue',
#                                                        'DRIVING UNDER THE INFLUENCE': 'Blue', 'DISORDERLY CONDUCT': 'Blue',
#                                                        'LIQUOR LAWS': 'Blue', 'VEHICLE THEFT': 'Blue', 'ASSAULT': 'Blue',
#                                                        'KIDNAPPING': 'Blue', 'TRESPASS': 'Blue', 'ARSON': 'Blue', 
#                                                        'RECOVERED VEHICLE': 'Blue', 'MISSING PERSON': 'Other', 'RUNAWAY': 'Other',
#                                                        'FAMILY OFFENSES': 'Other', 'SEX OFFENSES NON FORCIBLE': 'Other',
#                                                        'PORNOGRAPHY/OBSCENE MAT': 'Other', 'WEAPON LAWS': 'Other',
#                                                        'DRUNKENNESS': 'Other', 'SUICIDE': 'Other', 'TREA': 'Other',
#                                                        'DRUG/NARCOTIC': 'Other', 'SEX OFFENSES FORCIBLE': 'Other', 
#                                                        'LOITERING': 'Other'
#                                                       }).astype(object)
    
    test_df['District_Type'] = test_df['PdDistrict'].map({'PARK': 'Other', 'CENTRAL': 'Other', 'MISSION': 'Corner', 'NORTHERN': 'Corner', 
                                                              'TENDERLOIN': 'Other', 'INGLESIDE': 'Street', 'TARAVAL': 'Street', 
                                                              'SOUTHERN': 'Other', 'BAYVIEW': 'Other', 'RICHMOND': 'Other'}).astype(object)

        
    #Deleting features not needed
#     test_df = test_df.drop('Descript', 1)
#     test_df = test_df.drop('Resolution', 1)
    test_df = test_df.drop('Address', 1)
    
    #Creating Dummy Variables
    WeekdayWeekend_dummies = pd.get_dummies(test_df.WeekdayWeeekend)
    TimeOfDay_dummies = pd.get_dummies(test_df.TimeOfDay)
    season_dummies = pd.get_dummies(test_df.Season)
    district_dummies = pd.get_dummies(test_df.PdDistrict)
    week_dummies = pd.get_dummies(test_df.DayOfWeek)
#     type_dummies = pd.get_dummies(test_df.Crime_Type)
    corner_dummies = pd.get_dummies(test_df.District_Type)
    
    test_df_new = pd.concat([test_df, WeekdayWeekend_dummies, TimeOfDay_dummies, season_dummies, district_dummies, week_dummies, corner_dummies], axis=1, join_axes=[test_df.index])
    print('Sanity Check')
    print(test_df.shape)
    print(WeekdayWeekend_dummies.shape)
    print(TimeOfDay_dummies.shape)
    print(season_dummies.shape)
    print(district_dummies.shape)
    print(week_dummies.shape)
#     print(type_dummies.shape)
    print(corner_dummies.shape)
    print(test_df_new.shape)
    print('Make sure the total adds up to the last number')
    
#     le_crime = preprocessing.LabelEncoder()
#     crime = le_crime.fit_transform(train_df_new.Category)
#     train_df_new['dummy_Category'] = crime

    return test_df_new
#Calling the feature creation function

test_df_new = test_createFeature(test_df)
test_df_new.head()

Sanity Check
(884262, 14)
(884262, 2)
(884262, 4)
(884262, 4)
(884262, 10)
(884262, 7)
(884262, 3)
(884262, 44)
Make sure the total adds up to the last number

,Id,Dates,DayOfWeek,PdDistrict,X,Y,month_of_year,day_of_month,hour_of_day,min_of_hour,...,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Corner,Other,Street
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,-122.399588,37.735051,5,10,23,59,...,0,0,0,1,0,0,0,0,1,0
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,-122.391523,37.732432,5,10,23,51,...,0,0,0,1,0,0,0,0,1,0
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,-122.426002,37.792212,5,10,23,50,...,0,0,0,1,0,0,0,1,0,0
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,-122.437394,37.721412,5,10,23,45,...,0,0,0,1,0,0,0,0,0,1
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,-122.437394,37.721412,5,10,23,45,...,0,0,0,1,0,0,0,0,0,1

#Exploring with Street Corner Feature

In [381]:
test_df_new.shape

(884262, 44)

In [382]:
# train_df['street_corner'] = train_df['Address'].apply(lambda x: 1 if '/' in x else 0)
# crime_categories = train_df['PdDistrict'].unique()
# n_district = crime_categories.shape[0]
# street_corner_percentages = np.zeros((2,n_district+1))

# for n in np.arange(n_district):
#     if 0 in train_df['street_corner'].loc[train_df['PdDistrict'] == crime_categories[n]].value_counts().keys():
#         street_corner_percentages[0,n] = train_df['street_corner'].loc[train_df['PdDistrict'] == crime_categories[n]].value_counts()[0]	
#     if 1 in train_df['street_corner'].loc[train_df['PdDistrict'] == crime_categories[n]].value_counts().keys():
#         street_corner_percentages[1,n] = train_df['street_corner'].loc[train_df['PdDistrict'] == crime_categories[n]].value_counts()[1]	

# street_corner_percentages[:,-1] = np.sum(street_corner_percentages, axis=1)
# street_corner_percentages = 100.0*(street_corner_percentages/np.sum(street_corner_percentages, axis=0))
# print(street_corner_percentages)

# ind = np.arange(n_district)
# width = 1.0

# fig, axarr = plt.subplots(2,1)
# rects2 = axarr[0].bar(ind, street_corner_percentages[1,:-1], width, color='y')
# rects3 = axarr[1].bar(ind, street_corner_percentages[1,:-1]-street_corner_percentages[1,-1], width, color='y')

# axarr[0].set_ylabel('District with street corner (in %)')
# axarr[1].set_ylabel('Difference from \n Average (in %)')
# axarr[0].set_title('Percentage of Street vs. Corner in each District')
# axarr[0].set_xticks(ind+0.5*width)
# axarr[1].set_xticks(ind+0.5*width)

# fig.subplots_adjust(hspace=.5)
# crimes_list = list(crime_categories)
# axarr[1].set_xticklabels(crimes_list, rotation='vertical')
# axarr[0].get_xaxis().set_ticks([])
# plt.subplots_adjust(bottom=0.45)
# plt.savefig('breakdown_of_corner_by_district.png')
# #code reference https://www.kaggle.com/tfurmston/sf-crime/crimes-that-occur-on-a-street-corner/code

In [383]:
# ## Checking the calculation is right
# Park_boolean = train_df['PdDistrict'] == 'PARK'
# train_df_park = train_df[Park_boolean]
# train_df_park['street_corner_park'] = train_df_park[Park_boolean]['Address'].apply(lambda x: 1 if '/' in x else 0)
# len(train_df_park[train_df_park['street_corner_park'] == 0])

In [384]:
train_df_new.columns

Index(['Dates', 'DayOfWeek', 'PdDistrict', 'X', 'Y', 'Category',
       'month_of_year', 'day_of_month', 'hour_of_day', 'min_of_hour',
       'WeekdayWeeekend', 'TimeOfDay', 'Season', 'District_Type', 'Weekday',
       'Weekend', 'Afternoon', 'Midnight', 'Morning', 'Night', 'Autumn',
       'Spring', 'Summer', 'Winter', 'BAYVIEW', 'CENTRAL', 'INGLESIDE',
       'MISSION', 'NORTHERN', 'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL',
       'TENDERLOIN', 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday',
       'Tuesday', 'Wednesday', 'Corner', 'Other', 'Street', 'dummy_Category'],
      dtype='object')

In [385]:
test_df_new.columns

Index(['Id', 'Dates', 'DayOfWeek', 'PdDistrict', 'X', 'Y', 'month_of_year',
       'day_of_month', 'hour_of_day', 'min_of_hour', 'WeekdayWeeekend',
       'TimeOfDay', 'Season', 'District_Type', 'Weekday', 'Weekend',
       'Afternoon', 'Midnight', 'Morning', 'Night', 'Autumn', 'Spring',
       'Summer', 'Winter', 'BAYVIEW', 'CENTRAL', 'INGLESIDE', 'MISSION',
       'NORTHERN', 'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL', 'TENDERLOIN',
       'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
       'Wednesday', 'Corner', 'Other', 'Street'],
      dtype='object')

In [386]:
# #Take a peek at the frequency of categories
# categories_dict = defaultdict(int)
# for item in train_df_new.Category:
#     categories_dict[item] += 1
# (sorted(categories_dict.items(), key=lambda x: x[1], reverse=True))

##Prediction

### Feature Inclusion/Exclusion

In [387]:
# Lat/Long
X_feature = (False, 'X')
Y_feature = (False, 'Y')

# Time
Month_feature = (False, 'month_of_year')
Day_feature = (True, 'day_of_month')
Hour_feature = (True, 'hour_of_day')
Min_feature = (True, 'min_of_hour')

# Day of Week
Friday_feature = (True, 'Friday') 
Monday_feature = (True, 'Monday')
Saturday_feature = (True, 'Saturday')
Sunday_feature = (True, 'Sunday')
Thursday_feature = (True, 'Thursday')
Tuesday_feature = (True, 'Tuesday')
Wednesday_feature = (True, 'Wednesday')

#Weekday/Weekend
Weekday_feature = (False, 'Weekday') 
Weekend_feature = (False, 'Weekend') 

#Season 
Autumn_feature = (False, 'Autumn') 
Spring_feature = (False, 'Spring') 
Summer_feature = (False, 'Summer') 
Winter_feature = (False, 'Winter') 

#Time of Day
Midnight_feature = (True, 'Midnight') 
Morning_feature = (True, 'Morning') 
Afternoon_feature = (True, 'Afternoon') 
Night_feature = (True, 'Night') 

# District
BAYV_feature = (True, 'BAYVIEW')
CENT_feature = (True, 'CENTRAL')
INGL_feature = (True, 'INGLESIDE')
MISS_feature = (True, 'MISSION')
NORT_feature = (True, 'NORTHERN')
PARK_feature = (True, 'PARK')
RICH_feature = (True, 'RICHMOND')
SOUT_feature = (True, 'SOUTHERN')
TARA_feature = (True, 'TARAVAL')
TEND_feature = (True, 'TENDERLOIN')

# # Crime Type
# Blue_feature = (False, 'Blue')
# White_feature = (False, 'White')
# Other_feature = (False, 'Other')

# District Type
Corner_feature = (False, 'Corner')
Street_feature = (False, 'Street')
District_Other_feature = (False, 'Other')

In [388]:
feature_list = [
                X_feature, Y_feature,
                Month_feature, Day_feature, Hour_feature, Min_feature,
                Monday_feature, Tuesday_feature, Wednesday_feature, Thursday_feature, Friday_feature, 
                Saturday_feature, Sunday_feature,
                Weekday_feature, Weekend_feature, 
                Autumn_feature, Spring_feature, Summer_feature, Winter_feature,
                Midnight_feature, Morning_feature, Afternoon_feature, Night_feature, 
                BAYV_feature, CENT_feature, INGL_feature, MISS_feature, NORT_feature, PARK_feature, 
                RICH_feature, SOUT_feature, TARA_feature, TEND_feature,
#                 Blue_feature, White_feature, Other_feature, 
                Corner_feature, Street_feature, District_Other_feature
               ]
features = [str(x[1]) for x in feature_list if x[0]]

In [389]:
# from sklearn.cross_validation import StratifiedShuffleSplit

# X = train_df_new[features]
# y = train_df_new['dummy_Category'].values

# sss = StratifiedShuffleSplit(y, 2, test_size=0.5, random_state=0)

# # for train_index, test_index in sss:
# #     X_train, X_test = X[train_index], X[test_index]
# #     y_train, y_test = y[train_index], y[test_index]

## Trainding and Validation

** Bernoulli **

In [390]:
training, validation = train_test_split(train_df_new, train_size=.60)
model = BernoulliNB()
model.fit(training[features], training['dummy_Category'])

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [391]:
# training['dummy_Category'].shape

In [392]:
predicted = np.array(model.predict_proba(validation[features]))

In [393]:
validation[features].columns

Index(['day_of_month', 'hour_of_day', 'min_of_hour', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Midnight',
       'Morning', 'Afternoon', 'Night', 'BAYVIEW', 'CENTRAL', 'INGLESIDE',
       'MISSION', 'NORTHERN', 'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL',
       'TENDERLOIN'],
      dtype='object')

In [394]:
validation['dummy_Category'].shape

(351220,)

In [395]:
log_loss(validation['dummy_Category'], predicted)

2.5514762489416483

** for submission **

In [398]:
test_df_new = test_df_new.ix[:,1:len(test_df_new)]
test_df_new.shape

(884262, 41)

In [399]:
# training, validation = train_test_split(train_df_new, train_size=.60)
model = BernoulliNB()
model.fit(train_df_new[features], train_df_new['dummy_Category'])

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [400]:
predicted = np.array(model.predict_proba(test_df_new[features]))

In [402]:
ex_submission = pd.read_csv("kaggle_data/sampleSubmission.csv")

In [403]:
result=pd.DataFrame(predicted, columns=ex_submission.columns[1:len(ex_submission)])
result.to_csv('testResult.csv', index = True, index_label = 'Id' )

** knn **

In [343]:
knn = KNeighborsClassifier(n_neighbors=50, weights='uniform')
knn.fit(training[features], training['dummy_Category']) 
knn_predicted = np.array(knn.predict_proba(validation[features]))
log_loss(validation['dummy_Category'], knn_predicted)

KeyboardInterrupt:

In [386]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split(
    train_df_new[features], train_df_new['Category'], test_size=0.2, random_state=0)

In [370]:
x_train.head()

,min_of_hour,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,BAYVIEW,CENTRAL,INGLESIDE,MISSION,NORTHERN,PARK,RICHMOND,SOUTHERN,TARAVAL,TENDERLOIN
704271,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
664893,29,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
484769,5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
112349,30,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
57949,33,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0

In [ ]:
# feature_list = [
#                 X_feature, Y_feature,
#                 Month_feature, Day_feature, Hour_feature, Min_feature,
#                 Monday_feature, Tuesday_feature, Wednesday_feature, Thursday_feature, Friday_feature, 
#                 Saturday_feature, Sunday_feature,
#                 Weekday_feature, Weekend_feature, 
#                 Autumn_feature, Spring_feature, Summer_feature, Winter_feature,
#                 Midnight_feature, Morning_feature, Afternoon_feature, Night_feature, 
#                 BAYV_feature, CENT_feature, INGL_feature, MISS_feature, NORT_feature, PARK_feature, 
#                 RICH_feature, SOUT_feature, TARA_feature, TEND_feature,
# #                 Blue_feature, White_feature, Other_feature, 
#                 Corner_feature, Street_feature, District_Other_feature
#                ]
# features = [str(x[1]) for x in feature_list if x[0]]

x_train, x_test, y_train, y_test = cross_validation.train_test_split(
    train_df_new[features], train_df_new['Category'], test_size=0.2, random_state=0)

# knn = KNeighborsClassifier()
knn = KNeighborsClassifier(n_neighbors=50, weights='uniform')
knn.fit(x_train, y_train) 
knn.score(x_test, y_test)

** predict on test set **

In [358]:
test_df_new = test_df_new.ix[:,1:len(test_df_new)]
test_df_new.head()

,Dates,DayOfWeek,PdDistrict,X,Y,month_of_year,day_of_month,hour_of_day,min_of_hour,WeekdayWeeekend,...,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Corner,Other,Street
0,2015-05-10 23:59:00,Sunday,BAYVIEW,-122.399588,37.735051,5,10,23,59,Weekday,...,0,0,0,1,0,0,0,0,1,0
1,2015-05-10 23:51:00,Sunday,BAYVIEW,-122.391523,37.732432,5,10,23,51,Weekday,...,0,0,0,1,0,0,0,0,1,0
2,2015-05-10 23:50:00,Sunday,NORTHERN,-122.426002,37.792212,5,10,23,50,Weekday,...,0,0,0,1,0,0,0,1,0,0
3,2015-05-10 23:45:00,Sunday,INGLESIDE,-122.437394,37.721412,5,10,23,45,Weekday,...,0,0,0,1,0,0,0,0,0,1
4,2015-05-10 23:45:00,Sunday,INGLESIDE,-122.437394,37.721412,5,10,23,45,Weekday,...,0,0,0,1,0,0,0,0,0,1

In [261]:
train_df_new[features].shape

(10000, 25)

In [262]:
test_df_new[features].shape

(884262, 25)

In [263]:
knn_prediction = knn.predict(test_df_new[features])

In [302]:
knn_prediction = list(knn_prediction)
np.unique(knn_prediction)

array([ 1,  4,  7, 12, 13, 16, 19, 20, 21, 24, 31, 33, 34, 35])

In [265]:
category_map = train_df_new[['Category','dummy_Category']]
category_map = category_map.loc[~category_map[['Category','dummy_Category']].duplicated()]

In [303]:
dict_keys = category_map['Category']
dict_values = category_map['dummy_Category']
category_dict = {item[0]:item[1] for item in list(zip(dict_values,dict_keys))}
category_dict

{0: 'ARSON',
 1: 'ASSAULT',
 2: 'BAD CHECKS',
 3: 'BRIBERY',
 4: 'BURGLARY',
 5: 'DISORDERLY CONDUCT',
 6: 'DRIVING UNDER THE INFLUENCE',
 7: 'DRUG/NARCOTIC',
 8: 'DRUNKENNESS',
 9: 'EMBEZZLEMENT',
 10: 'EXTORTION',
 11: 'FAMILY OFFENSES',
 12: 'FORGERY/COUNTERFEITING',
 13: 'FRAUD',
 14: 'GAMBLING',
 15: 'KIDNAPPING',
 16: 'LARCENY/THEFT',
 17: 'LIQUOR LAWS',
 18: 'LOITERING',
 19: 'MISSING PERSON',
 20: 'NON-CRIMINAL',
 21: 'OTHER OFFENSES',
 22: 'PROSTITUTION',
 23: 'RECOVERED VEHICLE',
 24: 'ROBBERY',
 25: 'RUNAWAY',
 26: 'SECONDARY CODES',
 27: 'SEX OFFENSES FORCIBLE',
 28: 'SEX OFFENSES NON FORCIBLE',
 29: 'STOLEN PROPERTY',
 30: 'SUICIDE',
 31: 'SUSPICIOUS OCC',
 32: 'TRESPASS',
 33: 'VANDALISM',
 34: 'VEHICLE THEFT',
 35: 'WARRANTS',
 36: 'WEAPON LAWS'}

In [304]:
final_map = [category_dict[num] for num in knn_prediction]
final_map[10:20]
np.unique(final_map)

array(['ASSAULT', 'BURGLARY', 'DRUG/NARCOTIC', 'FORGERY/COUNTERFEITING',
       'FRAUD', 'LARCENY/THEFT', 'MISSING PERSON', 'NON-CRIMINAL',
       'OTHER OFFENSES', 'ROBBERY', 'SUSPICIOUS OCC', 'VANDALISM',
       'VEHICLE THEFT', 'WARRANTS'],
      dtype='<U22')

In [268]:
test_df.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y,month_of_year,day_of_month,hour_of_day,min_of_hour,WeekdayWeeekend,TimeOfDay,Season,District_Type
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051,5,10,23,59,Weekday,Midnight,Spring,Other
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432,5,10,23,51,Weekday,Midnight,Spring,Other
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212,5,10,23,50,Weekday,Midnight,Spring,Corner
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412,5,10,23,45,Weekday,Midnight,Spring,Street
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412,5,10,23,45,Weekday,Midnight,Spring,Street

In [306]:
test_submit = pd.read_csv("test.csv")

In [307]:
_id = test_submit[test_submit.columns[0]]
_id = _id.values
final_df = pd.DataFrame({"Id":_id, "Crime":final_map})
final_df.head()

            Crime  Id
0  OTHER OFFENSES   0
1  OTHER OFFENSES   1
2  OTHER OFFENSES   2
3  OTHER OFFENSES   3
4  OTHER OFFENSES   4

In [308]:
Crime_dummies = pd.get_dummies(final_df.Crime)
Crime_dummies

,ASSAULT,BURGLARY,DRUG/NARCOTIC,FORGERY/COUNTERFEITING,FRAUD,LARCENY/THEFT,MISSING PERSON,NON-CRIMINAL,OTHER OFFENSES,ROBBERY,SUSPICIOUS OCC,VANDALISM,VEHICLE THEFT,WARRANTS
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,0,0,0,0
7,0,0,0,0,0,1,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,1,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,0,0,0,0,0
10,0,0,0,0,0,1,0,0,0,0,0,0,0,0
11,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0
14,0,0,0,0,0,1,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,1,0,0,0,0,0
16,1,0,0,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,1,0,0,0,0,0,0,0,0
18,0,0,0,0,0,1,0,0,0,0,0,0,0,0
19,0,0,0,0,0,1,0,0,0,0,0,0,0,0
20,0,0,0,0,0,1,0,0,0,0,0,0,0,0
21,0,0,0,0,0,1,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,1,0,0,0,0,0
23,0,0,0,0,0,0,0,0,1,0,0,0,0,0
24,1,0,0,0,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,1,0,0,0,0,0,0,0,0
26,0,0,0,0,0,1,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,1,0,0,0,0,0
28,0,0,0,0,0,1,0,0,0,0,0,0,0,0
29,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884232,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884233,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884234,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884235,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884236,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884237,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884238,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884239,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884240,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884241,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884242,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884243,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884244,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884245,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884246,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884247,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884248,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884249,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884250,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884251,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884252,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884253,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884254,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884255,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884256,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884257,0,0,0,0,0,0,0,1,0,0,0,0,0,0
884258,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884259,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884260,0,0,0,0,0,1,0,0,0,0,0,0,0,0
884261,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [309]:
final_df = pd.concat([final_df, Crime_dummies], axis=1, join_axes=[final_df.index])
final_df = final_df.ix[:,1:len(final_df)]
final_df.head()

,Id,ASSAULT,BURGLARY,DRUG/NARCOTIC,FORGERY/COUNTERFEITING,FRAUD,LARCENY/THEFT,MISSING PERSON,NON-CRIMINAL,OTHER OFFENSES,ROBBERY,SUSPICIOUS OCC,VANDALISM,VEHICLE THEFT,WARRANTS
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [317]:
col_current = (final_df.columns)

In [330]:
ex_submission = pd.read_csv("kaggle_data/sampleSubmission.csv")
col_needed = ex_submission.columns

In [331]:
for col in col_needed:
    if col not in col_current:
        final_df[col] = [0] * 884262

In [332]:
cols = list(final_df)
final_df = final_df.sort_index(axis=1)
cols.insert(0, cols.pop(cols.index('Id')))
final_df = final_df.ix[:, cols]
final_df.head()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS,PORNOGRAPHY/OBSCENE MAT,TREA
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [333]:
final_df.to_csv("sfcrime_submission.csv",index=False)

# Bernoulli

In [410]:
Bernoulli_model = BernoulliNB()
Bernoulli_model.fit(x_train, y_train)
# predicted = Bernoulli_model.predict_proba(test_data[features])

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [388]:
Bernoulli_model.score(x_test, y_test)

0.21959455611867207

In [85]:
training, validation = train_test_split(train_df_new, train_size=.60)
model = BernoulliNB()
model.fit(training[features], training['dummy_Category'])
predicted = np.array(model.predict_proba(validation[features]))
log_loss(validation['dummy_Category'], predicted)

3.3551620366218122

In [499]:
training, validation = train_test_split(train_df_new, train_size=.60)
model = BernoulliNB()
model.fit(training[features], training['dummy_Category'])
predicted = np.array(model.predict_proba(test_df_new[features]))
log_loss(validation['dummy_Category'], predicted)

ValueError: Found arrays with inconsistent numbers of samples: [351220 884262]

In [496]:
result=pd.DataFrame(predicted, columns=ex_submission.columns[1:len(ex_submission)])
# result.to_csv('testResult.csv', index = True, index_label = 'Id' )

In [497]:
len(result)

884262

In [395]:
model.score(validation[features], validation['dummy_Category'])

0.22071351289789876

## SVM

**1) svm with single fold**

In [98]:
print(x_train.shape, x_test.shape)
print(y_train.shape,y_test.shape)

(8000, 25) (2000, 25)
(8000,) (2000,)

In [99]:
y_train.head()

822262    16
751738    35
590781     4
128821    35
875134    31
Name: dummy_Category, dtype: int64

In [100]:
#KNN - gives lowest error; does well with tons of data; ratio does not go to infiniti; data, ratio, (30 max)
# extra features on day: holiday; weekend; weekday; time of year; but do exploratory analyssi to find best features
# randomforest and decision tree will tell you the importance of feature
# 2D kernel density estimation

svc_model = svm.SVC(kernel = 'rbf', C=20, gamma=.0075).fit(x_train, y_train)

svc_model.score(x_test, y_test)

0.246

**2) svm with crossfolds**

In [101]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(8000, 25) (8000,)
(2000, 25) (2000,)

In [102]:
x_train.columns

Index(['X', 'Y', 'hour_of_day', 'min_of_hour', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Autumn',
       'Spring', 'Summer', 'Winter', 'BAYVIEW', 'CENTRAL', 'INGLESIDE',
       'MISSION', 'NORTHERN', 'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL',
       'TENDERLOIN'],
      dtype='object')

In [103]:
print(train_df_new[features].shape)
print(train_df_new['dummy_Category'].shape)

(10000, 25)
(10000,)

In [104]:
svm_2 = svm.SVC(kernel = 'rbf', C=50, gamma=.001)
scores = cross_validation.cross_val_score(
    svm_2, train_df_new[features], train_df_new['dummy_Category'], cv=5)
scores

/Users/carlo_liquido/anaconda/lib/python3.4/site-packages/sklearn/cross_validation.py:417: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=5.
  % (min_labels, self.n_folds)), Warning)

array([ 0.24182359,  0.24327019,  0.23611806,  0.2345555 ,  0.25830816])

In [105]:
SVM_tuned_parameters = [{'kernel': ['rbf'],
                     'gamma': [.0075, .005, .001, .00075], 'C': [20, 30, 40, 50, 60, 70]}
                   ]

SVM_scores = ['precision', 'recall']

In [ ]:
print(SVM_tuned_parameters)
print(SVM_scores)

In [ ]:
for score in SVM_scores:
    print("# Tuning hyper-parameters for %s" % score)
    print()

    clf = GridSearchCV(svm.SVC(C=1), SVM_tuned_parameters, cv=5,
                       scoring='%s_weighted' % score)
    clf.fit(x_train, y_train)

    print("Best parameters set found on development set:")
    print()
    print(clf.best_params_)
    print()
    print("Grid scores on development set:")
    print()
    for params, mean_score, scores in clf.grid_scores_:
        print("%0.3f (+/-%0.03f) for %r"
              % (mean_score, scores.std() * 2, params))
    print()

    print("Detailed classification report:")
    print()
    print("The model is trained on the full development set.")
    print("The scores are computed on the full evaluation set.")
    print()
    y_true, y_pred = y_test, clf.predict(x_test)
    print(classification_report(y_true, y_pred))
    print()

## KNN

In [ ]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split(
    train_df_new[features], train_df_new['dummy_Category'], test_size=0.2, random_state=0)

knn = KNeighborsClassifier(n_neighbors=56, weights='uniform')
knn.fit(x_train, y_train) 
knn.score(x_test, y_test) 

# KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
#            metric_params=None, n_jobs=1, n_neighbors=5, p=2,
#            weights='uniform')

# knn.predict(x_test)
# array([1, 2, 1, 0, 0, 0, 2, 1, 2, 0])
# y_test
# array([1, 1, 1, 0, 0, 0, 2, 1, 2, 0])

In [ ]:
KNN_tuned_parameters = [{'n_neighbors': [20, 25, 30, 35, 40, 45]}
                   ]

KNN_scores = ['precision', 'recall']

In [ ]:
print(KNN_tuned_parameters)
print(KNN_scores)

In [ ]:
for score in KNN_scores:
    print("# Tuning hyper-parameters for %s" % score)
    print()

    clf = GridSearchCV(knn, KNN_tuned_parameters, cv=5,
                       scoring='%s_weighted' % score)
    clf.fit(x_train, y_train)

    print("Best parameters set found on development set:")
    print()
    print(clf.best_params_)
    print()
    print("Grid scores on development set:")
    print()
    for params, mean_score, scores in clf.grid_scores_:
        print("%0.3f (+/-%0.03f) for %r"
              % (mean_score, scores.std() * 2, params))
    print()

    print("Detailed classification report:")
    print()
    print("The model is trained on the full development set.")
    print("The scores are computed on the full evaluation set.")
    print()
    y_true, y_pred = y_test, clf.predict(x_test)
    print(classification_report(y_true, y_pred))
    print()

In [ ]:
n_neighbors, weights=weights