In [13]:
import numpy as np
import pandas as pd
from sklearn import svm
import pickle as pk

In [14]:
X_np = np.load("X_trn.np")
Y_np = np.load("Y_trn.np")

In [15]:
print(X_np.shape)
print(Y_np.shape)

(163, 1600)
(163,)

In [16]:
def cleanclicks(xtrn, ytrn):
    x_trn = []
    inds_bad = []
    for i in xrange(len(xtrn)):
        if len(xtrn[i]) < 1600:
            inds_bad.append(i)
        x_trn.append(list(xtrn[i]))
    for i in sorted(inds_bad, reverse=True):
        del x_trn[i]
    y_trn = np.delete(ytrn, inds_bad, 0)
    x_trn = np.array(x_trn)
    return x_trn, y_trn

X_np, Y_np = cleanclicks(X_np, Y_np)

In [17]:
print(X_np.shape)
print(Y_np.shape)

(163, 1600)
(163,)

In [18]:
X_df = pd.DataFrame(X_np)
X_df.head()

,0,1,2,3,4,5,6,7,8,9,...,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599
0,0.482353,0.505882,0.498039,1,0.474510,0.498039,0.490196,1,0.411765,0.450980,...,0.125490,1,0.011765,0.043137,0.000000,1,0.133333,0.164706,0.113725,1
1,0.592157,0.572549,0.498039,1,0.501961,0.482353,0.407843,1,0.192157,0.168627,...,0.023529,1,0.082353,0.003922,0.000000,1,0.082353,0.003922,0.000000,1
2,0.156863,0.156863,0.156863,1,0.278431,0.286275,0.282353,1,0.207843,0.215686,...,0.392157,1,0.423529,0.439216,0.372549,1,0.403922,0.419608,0.352941,1
3,0.568627,0.619608,0.549020,1,0.658824,0.690196,0.631373,1,0.682353,0.713726,...,0.878431,1,0.894118,0.909804,0.850980,1,0.313726,0.341176,0.278431,1
4,0.062745,0.070588,0.058824,1,0.050980,0.050980,0.043137,1,0.047059,0.047059,...,0.294118,1,0.294118,0.301961,0.282353,1,0.270588,0.290196,0.266667,1

In [19]:
Y_np[0]

1.0

In [20]:
# probablity, likliehood, confidence interval, gaussian, logistic, multi-class logistic regression, discrete choice
# neural network
# random forest
# decision tree - can only sepereate on each feature of the vector
# C big C overfit the data; find best C with cross-validation
# if sigma is large, then gamma is small.... if sigma is large then reach lots of points (meaing you are underfitting)
# gamma specifically for rbf kernel

clf = svm.SVC(kernel = 'rbf', C=100.0,gamma = )
clf.fit(X_np, Y_np)

with open('classifier_YourName.pickle','wb') as f:
    pk.dump(clf, f)

In [21]:
# cleaning function on piazza that helps take out features less than 1600... might be broken so take that out; will give
# numpy arrawys
#

In [22]:
preview = np.load("test_locations_and_labels.np")

In [23]:
pd.DataFrame(preview)

     0    1  2
0  271  493  1
1  323  481  1
2  560  475  1
3  576  524  1
4  287  553  1
5   68  483  0
6  168  479  0
7  374  502  0
8  332  559  0
9  637  541  0