In [6]:
import pandas as pd
import numpy as np

In [4]:
train_data = pd.read_csv('Taxi_Train.csv', header=None)

In [5]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0,9/1/12 0:11,9/1/12 0:20,13.20,1,-122.413540,37.802683,-122.421277,37.785395,38,30
1,1,9/1/12 0:23,9/1/12 0:31,10.65,1,-122.419700,37.786090,-122.435217,37.762177,30,94
2,2,9/1/12 0:45,9/1/12 0:49,9.00,1,-122.415120,37.774672,-122.407657,37.782615,10,11
3,3,9/1/12 0:41,9/1/12 0:54,13.95,2,-122.419392,37.806622,-122.415393,37.778115,40,10
4,4,9/1/12 1:09,9/1/12 1:13,7.35,1,-122.429722,37.797790,-122.418060,37.789032,45,32

In [8]:
random_index = np.random.permutation(train_data.index)
random_index[:10]

array([  965, 44219, 43044,  9570, 28706, 32675, 32630, 28577, 48576, 14995])

In [47]:
train_data_shuffled = train_data.ix[random_index]
# train_data_shuffled = train_data_shuffled.reset_index(level=0, inplace=True)
train_data_shuffled[:5]

,0,1,2,3,4,5,6,7,8,9,10
965,965,9/1/12 10:24,9/1/12 10:42,45.10,1,-122.401440,37.788540,-122.386572,37.617978,12,239
44219,44219,9/12/12 21:38,9/12/12 21:43,7.35,1,-122.409023,37.799380,-122.424855,37.801400,36,44
43044,43044,9/10/12 15:15,9/10/12 15:29,43.75,1,-122.390343,37.615602,-122.260508,37.523693,239,311
9570,9570,9/3/12 19:36,9/3/12 19:46,10.65,1,-122.409992,37.808387,-122.403465,37.788118,41,4
28706,28706,9/7/12 11:13,9/7/12 11:25,15.30,1,-122.411580,37.803925,-122.389707,37.785065,38,17

In [10]:
rows, columns = train_data_shuffled.shape
print("Rows:", rows)
print("Columns:", columns)

('Rows:', 50001)
('Columns:', 11)

In [29]:
train_size = round(rows*.8)
# dev_size   = round(rows*.2)

In [37]:
train_set = train_data.loc[:train_size]
# train_set.shape
# train_set.head()
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0,9/1/12 0:11,9/1/12 0:20,13.20,1,-122.413540,37.802683,-122.421277,37.785395,38,30
1,1,9/1/12 0:23,9/1/12 0:31,10.65,1,-122.419700,37.786090,-122.435217,37.762177,30,94
2,2,9/1/12 0:45,9/1/12 0:49,9.00,1,-122.415120,37.774672,-122.407657,37.782615,10,11
3,3,9/1/12 0:41,9/1/12 0:54,13.95,2,-122.419392,37.806622,-122.415393,37.778115,40,10
4,4,9/1/12 1:09,9/1/12 1:13,7.35,1,-122.429722,37.797790,-122.418060,37.789032,45,32

In [38]:
dev_set = train_data.loc[train_size:]
dev_set.shape

(10000, 11)

In [39]:
train_set.to_csv("train_set.csv", sep=',' , header=False , index=False)

In [40]:
dev_set.to_csv("dev_set.csv", sep=',' , header=False , index=False)